.main{
    max-width: 1200px;
    border: 1px dashed gray;
    display: block;
    margin: 0 auto;
    font-size: 0;
}

.div1{
    border: 1px solid green;
    display: inline-block;
    width: 32%;
    vertical-align: top;
    box-sizing: border-box;
    margin: 2%;
    margin-right: 0;
}

.div2{
    border: 1px solid green;
    display: inline-block;
    width: 32%;
    vertical-align: top;
    box-sizing: border-box;
    margin: 2% 0;
}

.div3{
    border: 1px solid green;
    display: inline-block;
    width: 32%;
    vertical-align: top;
    box-sizing: border-box;
    margin: 2%;
    margin-left: 0;
}

.otstupe{
    font-size: 16px;
}

@media (max-width: 1023px){
    .main{
        width: 100%;
    }
    .div3{
        display: block;
        width: 96%;
        margin: 2%;
        box-sizing: border-box;
    }
    .div1{
        width: 47%;
    }
    .div2{
        width: 47%;
    }
}

@media (max-width: 767px){
    .div2{
        display: block;
        width: 96%;
        margin: 2%;
        box-sizing: border-box;
    }
    .div1{
        display: block;
        width: 96%;
        margin: 2%;
        box-sizing: border-box;
    }
    .main{
        min-width: 500px;
        height: auto;
    }
}