*{
    box-sizing: border-box;
    cursor: default;
}

// div{
//     border: 1px dashed black;
// }

.content{
    max-width: 1249px;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}