@keyframes hover_bottom {
    from { transform: scale(1, 1);}
    50%{ transform: scale(0.9, 0.9);}
    to { transform: scale(0.8, 0.8);}
}

@keyframes hover_bottom_active {
    from { transform: scale(0.9, 0.9);}
    50%{ transform: scale(0.5, 0.5);}
    to { transform: scale(0.2, 0.2);}
}

footer{
    background-color: #313030;
    display: flex;
}

.flex{
    display: flex;
}

.footer_left{
    padding: 49px 0 26px 0;
    width: 50%;
}

.footer_right{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 49px 0 26px 0;
}

.footer_text{
    color: #b8b8b8;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer_social{
    padding-left: 18px;
}

.footer_social:hover{
    animation: hover_bottom 0.15s;
    animation-fill-mode: forwards;
    transition-timing-function: linear;
    cursor: pointer;
}

.footer_social:active{
    animation: hover_bottom_active 0.15s;
    animation-fill-mode: forwards;
    transition-timing-function: linear;
}

.footer_social_image:hover{
    cursor: pointer;
}

@media (max-width: 1121px){
    .footer_left{
        padding-left: 20px;
    }

    .footer_right{
        padding-right: 20px;
    }
}

@media (max-width: 767px){
    .footer_left{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer_right{
        width: 100%;
        justify-content: center;
        margin-right: 50px;
    }

    .footer_social{
        padding-left: 60px;
        transform: scale(1.5);
    }

    .footer_social:hover{
        animation: none;
    }
}