.flex{
    justify-content: center;
}

.header_head{
    color: #000000;
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 80%;
    margin-bottom: 50px;
}

.head{
    text-align: center;
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 10px;
    padding: 20px;
}