/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  font-size: 0;
}

header {
  background-color: #f7f7f7;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

.header_top_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header_position {
  position: absolute;
  top: 50%;
  margin-top: -11px;
}

.header_top_center {
  width: 40%;
  text-align: center;
}

.header_top_right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top_left_button {
  color: #848484;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 40.28px;
  margin-left: 15px;
  background: none;
  border: 0;
}

.backwards {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.telephones {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  text-align: right;
  font-size: 14px;
  margin-top: 13px;
}

.telephones ul {
  color: #848484;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
}

.bck__button {
  color: #848484;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  background: none;
  border: 0;
}

.bck_button_text {
  border-bottom: 1px #848484 solid;
  height: 18px;
}

.header_bottom_nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #848484;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 40.08px;
}

.header_bottom_nav {
  width: 50%;
}

.header_bottom_nav nav ul li + li {
  margin-left: 40px;
}

.header_actions {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.header_actions_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #848484;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  margin-right: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header_actions_link_text {
  margin-left: 12px;
}

.header_actions_button {
  background: none;
  border: 0;
  width: 158px;
  height: 40px;
  background-color: #f1ca00;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 40.08px;
  text-transform: uppercase;
}

footer {
  background-color: #ffffff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_left {
  width: 50%;
  margin: 21px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_right {
  width: 50%;
  margin: 21px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_button {
  width: 50%;
}

.footer_logo {
  width: 50%;
  position: relative;
}

.footer_logo_pos {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 13px;
}

.footer_actions_button {
  background: none;
  border: 0;
  width: 155px;
  height: 40px;
  margin-left: 10px;
  border: 1px solid #e0e0e0;
  color: #848484;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

.footer_info {
  width: 50%;
  color: #848484;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  margin-left: 20px;
  margin-top: 5px;
}

.footer_change_lang {
  color: #848484;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}

.footer_telephones {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  text-align: right;
  font-size: 14px;
  margin-top: 5px;
}

.footer_telephones ul {
  color: #848484;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
}

.otstupe {
  margin-top: 2px;
}

.top_section {
  height: 490px;
  background: #f1ca00 url("../Images/Shape_6.png") no-repeat;
  border-bottom: 1px solid f7f7f7;
  background-position: -779px bottom;
  position: relative;
}

.main_text {
  position: absolute;
  top: 132px;
  left: 50%;
  margin: -25px 0 0 -250px;
  width: 500px;
  height: 50px;
  color: #000000;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 700;
}

.main_subtext {
  position: absolute;
  top: 173px;
  left: 50%;
  margin: -15px 0 0 -150px;
  width: 300px;
  height: 30px;
  color: #000000;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 75px;
}

.main_subtext_link {
  text-decoration: none;
  color: #000000;
  border-bottom: #000000 1px dashed;
}

.bottom_section {
  background-color: #f7f7f7;
}

.main_blocks {
  position: relative;
  margin-top: -107px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.boocklet {
  width: 300px;
  border: 1px solid #d2d2d2;
  background-color: #f6f6f6;
  margin-bottom: 18px;
  text-align: center;
  padding: 40px 25px 38px 25px;
}

.boocklet:nth-child(3n + 1) {
  margin-right: 18px;
}

.boocklet:nth-child(3n + 2) {
  margin-right: 18px;
}

.boocklet_head {
  color: #222222;
  font-family: Tahoma;
  font-size: 18px;
  font-weight: 400;
  line-height: 75px;
  margin-bottom: 25px;
}

.boocklet_body {
  color: #848484;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
/*# sourceMappingURL=main.css.map */