.body{   
    background: url("star.png") repeat-x 0% 0%,
    url("star.png") repeat-x 0% 100%, url("star.png") no-repeat 0% 50%,
    url("star.png") no-repeat 100% 50%;
    background-size: 9%;
    background-color: #e6f141;
    box-sizing: content-box;
    padding: 50px;
    width: 450px;
}

table{
    width: 100%;
    height: 100%;
}

table th{
    font: 700 16px/1.8 "Gotham", sans-serif;
}

table td{
    font: 400 16px/1.8 "Gotham", sans-serif;
    border: 1px solid gray;
    padding-left: 8px;
}